extends layout

block content

	nav#sidenav

	div#dashboard

		article#project-details.article-heading

			h1 Your projects
			div.pad
				each proj in projects
					a.dashboard-hover(href="projects/" + proj._id + "/tagging")
						table.dashboard-project
							thead
								tr
									th(colspan="3")
										=proj.project_name						
							tbody
								tr
									td(colspan="3")
										table
											thead 
												tr 
													th 
														span Description 
													th 
														span # Annotators 
													th 
														span Progress 
											tbody 
												tr
													td 	<span class="desc">#{proj.project_description || "(No description)"}</span>
													td 	#{proj.user_ids.length}
													td  <span class="progress-bar"><span class="inner" data-width="30%">&nbsp;&nbsp;<span class="done"></span>/<span class="total"></span></span>
												tr 
													td(colspan="3")
														ul.metadata 
															li Filename: #{proj.file_metadata.Filename}
															li Number of documents: <span class="num-docs">#{proj.file_metadata['Number of documents']}</span>
															li Number of tokens: #{proj.file_metadata["Number of tokens"]}
															li Average tokens/document: #{proj.file_metadata["Average tokens/document"]}


									
block scripts
	script.
		$(document).ready(function() {
			$(".progress-bar .inner").each(function() {
				var total = parseInt($(this).closest("tbody").find(".num-docs").html());
				var done = Math.floor(Math.random() * total);
				
				console.log(total);
				console.log($(this).find(".done"))
				console.log($(this).find(".total"))
				$(this).find(".done").html(done);
				$(this).find(".total").html(total);
				$(this).css("width", (done/total*100) + "%");
			});


		});
