extends layout

block head
	<script src='/javascripts/spectrum.js'></script>
	<link rel='stylesheet' href='/stylesheets/spectrum.css' />


block content



	section#setup-menu
		nav#sidenav

			ul.setup-stages#nav-setup-stages
				li#li-project-details 
					span 						
						| Project Details
						i.fa.fa-check
				li#li-upload-tokenized.not-yet-started
					span 
						i.fa.fa-check
						| Dataset
				li#li-entity-categories.not-yet-started
					span 
						i.fa.fa-check
						| Entity Categories
				li#li-distribution.not-yet-started
					span 
						i.fa.fa-check
						| Distribution
				li#li-submission.not-yet-started
					span 
						i.fa.fa-check
						| Submission
		div#error-banner
			<i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp; There was a problem communicating with the server. Data entered into the form may not be saved.
		div#setup-questions


			article#project-details.article-heading
				h1 Project Details				
				div.form-section
					p Please enter the details of your project below.
					form#project-details-form
						div#project-name-form.form-group
							label(for="input-project-name") Project Name (required)
							input(id="input-project-name" maxlength="100" placeholder="Project Name" autofocus required pattern=".*[A-Za-z0-9]+.*")
							div.form-help The name of the project.
						div#project-description-form.form-group
							label(for="input-project-description") Project Description (optional)
							input(id="input-project-description" maxlength="500" tabindex="-1" placeholder="Project Description")
							div.form-help A short description of the project.
						//div.submit-row
						//	input(type="submit" value="Next: Upload Dataset")
				div#saved-notification-project-details.saved-notification
					p <i class="fa fa-check"></i> This section has been saved.
						
			article#upload-tokenized.article-heading.not-scrolled-to
				h1 Dataset				
				div.form-section
					p Please upload your  data using the form below.
					p The dataset must be saved as a <code>.txt</code> file. Each token within your data must be separated by a space, and each document must be on a new line. <a href="/files/example_dataset.txt" download>Click here</a> to download a small example file.
					
					- var action = 'upload-tokenized'
					include partials/upload_widget

				div#saved-notification-upload-tokenized.saved-notification
					p <i class="fa fa-check"></i> This section has been saved.

			article#entity-categories.article-heading.not-scrolled-to
				h1 Entity Categories
				div.form-section
					p Please determine how you would prefer to list the entity categories (such as "Person" and "Organisation") in your data.
					blockquote
						a(id="entity-categories-list-button" class="subsection-open-button") I have a list of the entity classes present in my data.
					blockquote
						a(id="entity-categories-ner-button" class="subsection-open-button") I'm using the standard 4 class model for Named Entity Recognition.

					//- div#entity-categories-file.subsection.subsection-hidden
					//- 	h3 Entity categories from file
					//- 	div.pad
					//- 		p Please upload your entity categories using the form below.
					//- 		p The list of entity categories must be saved as a <code>.txt</code> file. Each line in the file must contain an entity category, followed by a tab character, followed by an abbreviated form of that entity (such as <code>PER</code> for "Person").
					//- 		p You may optionally add a tag colour by adding an additional tab character and a 6-digit hexadecimal colour code to the end of the line. This will determine the colour of the respective entity's label during annotation.
					//- 		p <a href="/files/example_categories.txt" download>Click here</a> to download a small example file.
							
					//- 		- var action = 'upload-categories'
					//- 		include partials/upload_widget
						

					div#entity-categories-list.subsection.subsection-hidden
						h3 List entity classes
						div.pad
							p Please enter your entity classes into the form below.
							p The "Abbreviation" will determine what is written in the output file after annotation, while the "Colour" will determine the colour of the tag during annotation.
							p Note: you can press Tab to jump to the next item in the form.

							form
								table#entity-categories-table
									thead
										tr
											th
											th Class Name
											th Abbreviation
											th Colour
											th
									tbody
								a#new-ec-button(href="#")
									<i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Create new entity class
				div#saved-notification-entity-categories.saved-notification
					p <i class="fa fa-check"></i> This section has been saved.

			article#distribution.article-heading.not-scrolled-to
				h1 Distribution
				div.form-section
					p Please determine how you would like to distribute the annotation task.
					blockquote
						a(id="distribute-self-button" class="subsection-open-button") I'll annotate the data myself. I may invite other users to help annotate later.
					blockquote
						a(id="distribute-to-emails-button" class="subsection-open-button") I have a list of the email addresses of people who will annotate my data.
			
					div#distribute-self.subsection.subsection-hidden
						h3 Self Annotation
						p OK then.
					div#distribute-to-emails.subsection
						//.subsection-hidden
						h3 Distribute via Email
						p Please enter a list of emails below. An invitation to annotate your dataset will be sent to every valid email address.
						form#distribute-emails-form
							div#distribute-emails-validation
							textarea#distribute-emails-textarea(rows="10", wrap="off"  cols="254" placeholder="example1@example.com\nexample2@example.com")


			//- article#dataset.article-heading.not-scrolled-to
			//- 	h1 Administrator Account
			//- 	div.form-section
			//- 		p In order to keep track of the annotation and to easily download the data that has been annotated, please provide a username and password below. This will provide you with the ability to log in to the application through the homepage.
			//- 		form
			//- 			div.form-group
			//- 				label(for="input-project-name") Username*
			//- 				input(id="input-project-name" placeholder="Username" autofocus required)
			//- 			div.form-group(style="margin-top: -20px")
			//- 				label(for="input-project-name") Password*
			//- 				input(id="input-project-name" type="password" placeholder="")


			article#submission.article-heading.not-scrolled-to
				h1 Submission
				div.form-section
					p Once you have completed the form, please click the submit button below to set up the project.
					form
						div.submit-row
							input(type="submit" value="Submit and create project")

			div(style="height: 600px")



block scripts


	script.

		var errorBannerTimeout;

		function displayServerErrorBanner() {
			$("#error-banner").addClass("show");
			errorBannerTimeout = window.setTimeout(function() {
				$("#error-banner").removeClass("show");
			}, 5000);
		}


	script(src="/javascripts/setup_project/jquery.autosize.js")

	script.




		// A simple email validation regex.
		validateEmailRegex = function(val) {
		  return (/.+\@.+\..+/i.test(val) && val.length <= 254);
		}

		var dev = $("#distribute-emails-validation");
		var det = $("#distribute-emails-textarea")

		var emailsValidatingTimeout;

		function uploadEmails() {
			console.log("pretending to upload emails...");
			var emails = det.val().split("\n");
			var validEmails = new Set();
			var devHtml = "";
			for(var i = 0; i < emails.length; i++) {
				if(validateEmailRegex(emails[i])) {
					devHtml += "<i class=\"fa fa-check\" title=\"This is a valid email address.\"></i><br/>\n"
					validEmails.add(emails[i]);
				} else {
					devHtml += "<i class=\"fa fa-close " + (emails[i].length == 0 ? "hide" : "") + "\" title=\"This is not a valid email address.\"></i><br/>\n"
				}
			}

			dev.html(devHtml);
			console.log(validEmails);

			

		}
		
			
		det.autosize( {
			minRows: 10,

		});   

		det.on('input', function(e) {
			// Remove validation mark from line user edited
			var ln = $(this).val().substr(0, $(this)[0].selectionStart).split("\n").length;

			var c = dev.children("i")
			if(c[ln-1])
				$(c[ln-1]).addClass("hide");
			console.log(ln);
			window.clearTimeout(emailsValidatingTimeout);
			emailsValidatingTimeout = window.setTimeout(uploadEmails, 1000);
		})
		


	script.

		var csrfToken   = "!{csrfToken}";
		var wippid      = "!{wip_project_id}";
		var safeToValidate = true;
		var uploadingLabels = false;

		var rowValidatingTimeout;



		function uploadValidLabels() {

			console.log("Uploading labels...");

			uploadingLabels = true;

			validLabelData = [];
			for(var i = 0; i < validLabelObjs.length; i++) {
				validLabelData.push({
					label: validLabelObjs[i].label,
					abbreviation: validLabelObjs[i].abbreviation,
					color: validLabelObjs[i].color
				});

			}
			console.log(validLabelData, "data")

			var trs = $("#entity-categories-table tr");
			rowValidatingTimeout = window.setTimeout(function() {
				trs.addClass("row-validating");
			}, 500);
			


			//console.log("Saved");
			$.ajax(
			{
				url: 			'upload-validlabels',
				type:			'POST',
				data: 			{validLabelData},
				dataType: 		"json",
				headers: { 'csrf-token': csrfToken, 'wippid' : wippid },
				complete: function()
				{
					//$form.removeClass( 'is-uploading' );
				},
				success: function( data )
				{
					//if($("#project-name-form input").val().length > 0) {
					window.clearTimeout(rowValidatingTimeout);
					

					if(data.errors) {


						if(safeToValidate) {
							trs.removeClass("row-validating");
							console.log(data.errors);


							for(var i = 0; i < data.errors.length; i++) {

								if(data.errors[i].length == 0) {
									validLabelObjs[i].markAsValid();
								} else {
									validLabelObjs[i].markAsInvalid();
									for(var j = 0; j < data.errors[i].length; j++) {
										validLabelObjs[i].markError(data.errors[i][j].item_name, data.errors[i][j].message);
									}
									
								}

							}
						}

					}

					else {

						console.log("no errors")						
						if(safeToValidate) {
							trs.removeClass("row-validating");
							for(var i = 0; i < validLabelObjs.length; i++) {
								validLabelObjs[i].markAsValid();
							}
							$("#saved-notification-entity-categories").addClass("show");
							$("#li-entity-categories").addClass("completed");
							console.log("Safe to validate")
						} else {
							console.log("Not safe to validate (changed since pinged)")
							window.clearTimeout(validlabelsTimeout);
							validlabelsTimeout = window.setTimeout(uploadValidLabels, 1000);						
							safeToValidate = true;
						}


					}

					uploadingLabels = false;				
				},
				error: function()
				{								
					displayServerErrorBanner();
				}
			});	
		}

		function setValidLabelsTimeout() {			
			$("#saved-notification-entity-categories").removeClass("show");
			$("#li-entity-categories").removeClass("completed");	
			if(uploadingLabels) 		
				safeToValidate = false;		
			window.clearTimeout(validlabelsTimeout);
			validlabelsTimeout = window.setTimeout(uploadValidLabels, 1000);
		}



		// Valid Labels
		var validlabelsTimeout;

		



		// Set up color palette
		function chunk (arr, len) {
		  var chunks = [],
		      i = 0,
		      n = arr.length;

		  while (i < n) {
		    chunks.push(arr.slice(i, i += len));
		  }
		  return chunks;
		}
		var colorInd = 0;
		var colorList = ["#99FFCC", "#FFCCCC", "#CCCCFF", "#CCFF99", "#CCFFCC", "#CCFFFF", "#FFCC99", "#FFCCFF", "#FFFF99", "#FFFFCC", "#CCCC44", "#fbafff", "#ffbfaf", "#c6ffcb", "CC99FF", "#9999FF", "#FF99FF", "#FC9999", "#FBAFBA", "#C6FFFF"].reverse(); 
		var colorPalette = chunk(colorList, 3);

		

		var MAX_VALID_LABELS = 20;

		var $ect_tbody = $("#entity-categories-table tbody");
		var labelId = 0;
		var colorId = 0;
		var validLabelObjs = new Array();



		class ValidLabelInput {

			constructor(label, abbreviation, color, id) {
				labelId++;
				colorId++;

				var t = this;

				this.label = label || "";
				this.abbreviation = abbreviation || "";
				this.color = color || colorList.pop();
				this.originalColor = this.color;
				this.colorInPalette = !color;
				
				var id = id || labelId;
				this.id = id;				
				this.valid = this.label != "";

				validLabelObjs.push(t);

				$ect_tbody.append(" \
				<tr id=\"ec-tr-" + this.id + "\"> \
					<td id=\"ec-valid-" + this.id + "\"><i class=\"fa fa-check\" title=\"This is a valid entity category.\"></i><i class=\"fa fa-close\" title=\"This is not a valid entity category.\"></i><i class=\"fa fa-spin fa-circle-o-notch\"></i></td> \
					<td> \
						<input id=\"ec-" + this.id + "-label\" maxlength=\"200\" value=\"" + this.label + "\"> \
					</td> \
					<td> \
						<input id=\"ec-" + this.id + "-abbreviation\" maxlength=\"200\" value=\"" + this.abbreviation + "\"> \
					</td> \
					<td> \
						<input id=\"ec-" + this.id + "-color\" type=\"color\"> \
					</td> \
					<td> \
						<a id=\"ec-del-" + this.id  + "\" class=\"delete-button\" tabindex=\"-1\"><i class=\"fa fa-trash\"></i></a> \
					</td> \
				</tr> \
				");

				$("#ec-" + this.id + "-label").focus();

				// Color picker from Spectrum
				$("#ec-" + this.id + "-color").spectrum({
					color: t.originalColor,
					showPalette: true,
					palette: colorPalette,
					change: function() {
						t.color = $(this).spectrum('get').toHexString();
						$("#ec-tr-" + t.id).removeClass("valid-row");
						$("#ec-tr-" + t.id).removeClass("error-row");
						setValidLabelsTimeout();
					}
				});

				// Clicking delete button will delete this row
				$("#ec-del-" + this.id).on('click', function() {
					t.unshiftColor();			
					for(var i = 0; i < validLabelObjs.length; i++) {
						if(validLabelObjs[i] == t) {
							validLabelObjs.splice(i, 1);
							break;
						}
					}
					
					$("#new-ec-button").removeClass("disabled");
					$("#ec-tr-" + id).remove();
					setValidLabelsTimeout();
				});

				
				$("#ec-" + t.id + "-label").on('input', function() {
					$(this).removeAttr("title");
					t.label = $(this).val();
					$(this).removeClass("has_error");
					$("#ec-tr-" + t.id).removeClass("valid-row");
					$("#ec-tr-" + t.id).removeClass("error-row");					
					setValidLabelsTimeout();
				});
				$("#ec-" + t.id + "-abbreviation").on('input', function() {
					$(this).removeAttr("title");
					t.abbreviation = $(this).val();
					$(this).removeClass("has_error");
					$("#ec-tr-" + t.id).removeClass("valid-row");
					$("#ec-tr-" + t.id).removeClass("error-row");
					setValidLabelsTimeout();
				});				




			}

			unshiftColor() {
				if(this.colorInPalette)
					colorList.unshift(this.originalColor);
			}


			// Deletes this label by clicking the trash button.
			deleteLabel() {
				$("#ec-del-" + this.id).click();
			}

			markAsValid() {
				$("#ec-tr-" + this.id).addClass("valid-row");
				$("#ec-tr-" + this.id).removeClass("error-row");
			}
			markAsInvalid() {
				$("#ec-tr-" + this.id).removeClass("valid-row");
				$("#ec-tr-" + this.id).removeClass("error-row");
			}

			markError(item_name, error_message) {
				var field = $("#ec-" + this.id + "-" + item_name); 
				if(field.val().length > 0) {
					field.addClass("has_error");
					field.prop('title', error_message);
					$("#ec-tr-" + this.id).addClass("error-row");
				}
			}

		}




		var labelId = 0;
		function createDefaultLabels() {
			for(var i = 0; i < 4; i++) {
				var vli = new ValidLabelInput();
			}
			setValidLabelsTimeout();
		}

		function createLabelsFromArray(arr) {
			for(var i = 0; i < arr.length; i++) {
				var vli = new ValidLabelInput(arr[i].label, arr[i].abbreviation, arr[i].color)
				vli.markAsValid();
			}

			$("#saved-notification-entity-categories").addClass("show");
			$("#li-entity-categories").addClass("completed");
		}


		function deleteAllLabels() {
			for(var i = 0; i < validLabelObjs.length; i++) {
				validLabelObjs[i].unshiftColor();
			}
			validLabelObjs = [];
			$("#entity-categories-table tbody").empty();
			
		}

		function create4NERLabels() {
			var nerLabels = ["Person", "Organisation", "Location", "Miscellaneous"];
			var nerAbbrev = ["PER", "ORG", "LOC", "MISC"];
			for(var i = 0; i < 4; i++) {
				var vli = new ValidLabelInput(nerLabels[i], nerAbbrev[i]);
			}
			// Validate the labels right after they're created.
			setValidLabelsTimeout();
		}



		//create4NERLabels();


		$("#new-ec-button").on('click', function(e) {
			e.preventDefault();
			setValidLabelsTimeout();
			
			var vli = new ValidLabelInput();
			if(validLabelObjs.size == MAX_VALID_LABELS) {
				$(this).addClass("disabled");

			};
			

		});


		$("#entity-categories-list-button").on("click", function() {			
			deleteAllLabels();
			createDefaultLabels();			
			$("#entity-categories-list").slideDown(500)
			$("#entity-categories-table input")[0].focus();
			$("#entity-categories-ner-button").addClass("fade-out");			
			$("#entity-categories-list-button").removeClass("fade-out");
		});


		$("#entity-categories-ner-button").on("click", function() {			
			deleteAllLabels();
			create4NERLabels();
			$("#entity-categories-list").slideDown(500)
			$("#entity-categories-table input")[0].focus();
			$("#entity-categories-list-button").addClass("fade-out");			
			$("#entity-categories-ner-button").removeClass("fade-out");
		});



	script.


		//var bullshit = [{"label":"}]; <ript>hehehe","abbreviation":"PER","color":"#99FFCC"},{"label":"Organisation","abbreviation":"ORG","color":"#FFCCCC"},{"label":"Location","abbreviation":"LOC","color":"#CCCCFF"},{"label":"Miscellaneous","abbreviation":"MISC","color":"#CCFF99"}];
      
      

		// Check whether valid_labels has already been created 
		var existingValidLabels = !{valid_labels};

		if(existingValidLabels) {

			// Check if using NER template
			var isNER = (existingValidLabels.length == 4
				&& existingValidLabels[0].label == "Person"
				&& existingValidLabels[1].label == "Organisation"
				&& existingValidLabels[2].label == "Location"
				&& existingValidLabels[3].label == "Miscellaneous"
			)
			$("#entity-categories-list").slideDown(500)
			if(isNER) {
				$("#entity-categories-list-button").addClass("fade-out");			
				$("#entity-categories-ner-button").removeClass("fade-out");			
			} else {
				$("#entity-categories-ner-button").addClass("fade-out");			
				$("#entity-categories-list-button").removeClass("fade-out");
			}

			createLabelsFromArray(existingValidLabels);
		}

		//- $("input[type=\"color\"").spectrum({
		//- 	color: "#f1f1f1"
		//- });


		//- $("input[type=\"color\"").each(function(e) {
		//- 	var tid = $(this).attr('id');
		//- 	var label = $("#label-" + tid);
		//- 	label.css('background-color', "" + $(this).val());
		//- });

		
		//- $("input[type=\"color\"").on('change', function(e) {
		//- 	var tid = $(this).attr('id');
		//- 	var label = $("#label-" + tid);
		//- 	label.css('background-color', "" + $(this).val());
		//- });


	script(src="/javascripts/setup_project/page_scrolling.js")


	// Project Name/Description
	script.

		function uploadNameDesc() {


			var pn = $("#project-name-form input").val();
			var pd = $("#project-description-form input").val();
			var o = {
				"name": pn,
				"desc": pd
			}
			console.log(pn, pd, o)

			console.log("Saved");
			$.ajax(
			{
				url: 			'upload-namedesc',
				type:			'POST',
				data: 			o,
				dataType: 		"json",
				headers: { 'csrf-token': csrfToken, 'wippid' : wippid },
				complete: function()
				{
					//$form.removeClass( 'is-uploading' );
				},
				success: function( data )
				{
					console.log("done");
					if($("#project-name-form input").val().length > 0 && $("#project-name-form input")[0].checkValidity()) {
						$("#saved-notification-project-details").addClass("show");
						$("#li-project-details").addClass("completed");
					}
				},
				error: function()
				{								
					displayServerErrorBanner();
				}
			});				

		}


		var existingProjName = "#{project_name}";
		var existingProjDesc = "#{project_desc}";
		if(existingProjName.length > 0) {
			$("#saved-notification-project-details").addClass("show");
			$("#li-project-details").addClass("completed");				
			$("#project-name-form input").val(existingProjName);
			$("#project-description-form").addClass("show");
			$("#project-description-form input").attr("tabindex", "0");
		}
		if(existingProjDesc.length > 0) {
			$("#project-description-form input").val(existingProjDesc);
		}


		// Project Name/Description
		var projnameTimeout;

		$("#input-project-name").on('input', function() {	// Show the description box after the user types something in the Project Name box.
			
			$("#saved-notification-project-details").removeClass("show");
			$("#li-project-details").removeClass("completed");

			if($(this).val().length > 0 && $(this)[0].checkValidity()) {
				$("#project-description-form").addClass("show");
				$("#project-description-form input").attr("tabindex", "0");
			} else {
				$("#project-description-form").removeClass("show");
				$("#project-description-form input").attr("tabindex", "-1");
			}
			window.clearTimeout(projnameTimeout);
			projnameTimeout = window.setTimeout(uploadNameDesc, 1000);
		});

		$("#input-project-description").on('input', function() {
			$("#saved-notification-project-details").removeClass("show");
			$("#li-project-details").removeClass("completed");
			window.clearTimeout(projnameTimeout);
			projnameTimeout = window.setTimeout(uploadNameDesc, 1000);
		});
	


	// Upload widget
	script.

		'use strict';

		var test = "hello\" there";

		var MAX_FILESIZE = !{max_filesize_mb} * 1024 * 1024;
		var file_metadata = !{file_metadata};
	



		// Drag and drop code and css found here:
		// https://css-tricks.com/examples/DragAndDropFileUploading/
		;( function( $, window, document, undefined )
		{


			function renderSuccessBox(metadata, form_ele, success_details_ele, sidenav_li_ele, saved_notification_ele) {
				form_ele.addClass( 'is-success' );
				console.log(success_details_ele)
				var details = "<table><tbody>";
				for(var i = 0; i < metadata.length; i++) {
					var k = Object.keys(metadata[i])[0];
					var v = metadata[i][k];
					details += "<tr><td><b>" + k + ":</b></td><td>" + v + "</td><tr/>";
				}
				details += "</tbody></table>"
				success_details_ele.html(details); // remove final <br/> tag.
				saved_notification_ele.addClass('show');
				sidenav_li_ele.addClass('completed');
			}

			if(file_metadata) renderSuccessBox(file_metadata, $("#form-upload-tokenized"), $("#form-upload-tokenized").find('.box__success_details'), $("#li-upload-tokenized"), $("#saved-notification-upload-tokenized"));



			// feature detection for drag&drop upload

			var isAdvancedUpload = function()
				{
					var div = document.createElement( 'div' );
					return ( ( 'draggable' in div ) || ( 'ondragstart' in div && 'ondrop' in div ) ) && 'FormData' in window && 'FileReader' in window;
				}();


			// applying the effect for every form

			$( '.box' ).each( function()
			{
				var $form		 = $( this ),
					$input		 = $form.find( 'input[type="file"]' ),
					$label		 = $form.find( 'label' ),
					$errorMsg	 = $form.find( '.box__error span' ),
					$restart	 = $form.find( '.box__restart' ),
					$successDets = $form.find( '.box__success_details' ),
					$uploading   = $form.find( '.box__uploading'),
					droppedFile  = null,
					$savedNotif  = $("#saved-notification-"  + $form.attr( 'action' )),
					$sidenavLi   = $("#li-"  + $form.attr( 'action' )),
					showFiles	 = function( file )
					{
						$label.text( file.name );
					};


				function validateFile(file) {
					var a = checkFilesize(file);
					var b = checkFiletype(file);
					$sidenavLi.removeClass("completed");
					$savedNotif.removeClass("show");

					if(!(a && b)) {
						$form.addClass( 'is-uploading' ).removeClass( 'is-error' );

						var errMsg;
						if(!a) { errMsg = "File must be less than #{max_filesize_mb}mb in size." }
						if(!b) { errMsg = "File must be a plain text file (.txt)." }

						// Send a message to the server to delete the documents of the project if client-side validation failed.

						$.ajax(
						{
							url: 			$form.attr( 'action' ) + '-reset',
							type:			$form.attr( 'method' ),
							data: 			{},
							dataType:		'json',
							cache:			false,
							contentType:	false,
							processData:	false,
							headers: { 'csrf-token': csrfToken, 'wippid' : wippid },
							complete: function()
							{
								$form.removeClass( 'is-uploading' );
							},
							success: function( data )
							{
								$form.addClass('is-error');
								$errorMsg.text(errMsg);		
							},
							error: function()
							{								
								displayServerErrorBanner();
							}
						});
					}

					return a && b;
				}

				function checkFilesize(file) {
					if(file.size > MAX_FILESIZE) {
						return false;
					} else {
						return true;
					}
				}

				function checkFiletype(file) {
					if(file.type != "text/plain") {
						return false;									
					} else {
						return true;
					}
				}


				// letting the server side to know we are going to make an Ajax request
				$form.append( '<input type="hidden" name="ajax" value="1" />' );

				$input.on('click', function() {

					$(this).val("");
				});

				// automatically submit the form on file select
				$input.on( 'change', function( e )
				{	
					$form.removeClass( 'is-error is-success' );
					droppedFile = null; // Get rid of the dropped file the user may have dropped previously.
					if(validateFile(e.target.files[0])) {
						showFiles( e.target.files );					
						$form.trigger( 'submit' );
					}					
				});


				// drag&drop files if the feature is available
				if( isAdvancedUpload )
				{
					$form
					.addClass( 'has-advanced-upload' ) // letting the CSS part to know drag&drop is supported by the browser
					.on( 'drag dragstart dragend dragover dragenter dragleave drop', function( e )
					{	

						// preventing the unwanted behaviours
						e.preventDefault();
						e.stopPropagation();
					})
					.on( 'dragover dragenter', function() //
					{
						// Disable drop if form already completed.
						if( $form.hasClass("is-success") || $form.hasClass("is-uploading") ) {
							return;
						}

						$form.addClass( 'is-dragover' );
					})
					.on( 'dragleave dragend drop', function()
					{
						$form.removeClass( 'is-dragover' );
					})
					.on( 'drop', function( e )
					{

						// Disable drop if form already completed.
						if( $form.hasClass("is-success") || $form.hasClass("is-uploading") ) {							
							return;
						}

						var droppedFiles = e.originalEvent.dataTransfer.files; // the files that were dropped

						if(droppedFiles.length > 1) {							
							$form.addClass('is-error');
							$errorMsg.text("You may only upload 1 file at a time.");
						} else {
							droppedFile = droppedFiles[0];

							if(validateFile(droppedFile)) {
								console.log('file is fine')
								showFiles( droppedFile );						
								$form.trigger( 'submit' ); // automatically submit the form on file drop
							}					
						}					

						
					});
				}




				// if the form was submitted

		        var progressBar = $(this).find('.progress-bar-fill')
		        var progressBarContainer = $(this).find('.progress-bar-container')
		        var progressPercent = $(this).find('.progress-percent-complete')

				$form.on( 'submit', function( e )
				{				
					// preventing the duplicate submissions if the current one is in progress
					if( $form.hasClass( 'is-uploading' ) ) return false;
					progressBarContainer.removeClass("fade-out");
					

					$form.addClass( 'is-uploading' ).removeClass( 'is-error' );
					$uploading.html("<i class=\"fa fa-spinner fa-spin\"></i>&nbsp;Uploading…");

					if( isAdvancedUpload ) // ajax file upload for modern browsers
					{
						e.preventDefault();


						// gathering the form data
							
						console.log('g', $form.get(0))

						var ajaxData;
						if( droppedFile ) {
							ajaxData = new FormData();
							ajaxData.append( $input.attr("name"), droppedFile );	
						} else {
							ajaxData = new FormData( $form.get( 0 ) );						
						}

						console.log(ajaxData);
						
						

						var tokenizingTimeout;

						// ajax request
						$.ajax(
						{

							xhr: function() {
								var xhr = new window.XMLHttpRequest();

								xhr.upload.addEventListener("progress", function(evt) {
								  if (evt.lengthComputable) {
								    var percentComplete = evt.loaded / evt.total;
								    percentComplete = parseInt(percentComplete * 100);

								    progressBar.css("width", "" + percentComplete + "%")
								    progressPercent.html("" + percentComplete + "%")

								    if (percentComplete === 100) {
								    	$uploading.html("<i class=\"fa fa-spinner fa-spin\"></i>&nbsp;Tokenizing…");
								    	progressBarContainer.addClass("fade-out");
								    	window.setTimeout(function() {
								    		progressBar.css("width", "0%");
								    	}, 500);
								    	tokenizingTimeout = window.setTimeout(function() {
								    		console.log('heres johnny')
								    		$uploading.html("<i class=\"fa fa-spinner fa-spin\"></i>&nbsp;Tokenizing…<br/><span class=\"tokenization-time-info\">Tokenization is taking some time as your dataset is quite large.<br/>Please feel free to complete the rest of the form while tokenization is running.</span>");

								    	}, 2000);
								    }

								  }
								}, false);

								return xhr;
							},						
							url: 			$form.attr( 'action' ),
							type:			$form.attr( 'method' ),
							data: 			ajaxData,
							dataType:		'json',
							cache:			false,
							contentType:	false,
							processData:	false,
							headers: { 'csrf-token': csrfToken, 'wippid' : wippid },
							complete: function()
							{
								$form.removeClass( 'is-uploading' );
							},
							success: function( data )
							{
								window.clearTimeout(tokenizingTimeout);
								console.log(data);
								
								if( !data.success ) {
									$form.addClass( 'is-error' );
									$errorMsg.text( data.error );
								} else {
									renderSuccessBox(data.details, $form, $successDets, $sidenavLi, $savedNotif);
								}
							},
							error: function()
							{								
								displayServerErrorBanner();
							}
						});
					}
					else // fallback Ajax solution upload for older browsers
					{
						var iframeName	= 'uploadiframe' + new Date().getTime(),
							$iframe		= $( '<iframe name="' + iframeName + '" style="display: none;"></iframe>' );

						$( 'body' ).append( $iframe );
						$form.attr( 'target', iframeName );

						$iframe.one( 'load', function()
						{
							var data = $.parseJSON( $iframe.contents().find( 'body' ).text() );
							$form.removeClass( 'is-uploading' ).addClass( data.success == true ? 'is-success' : 'is-error' ).removeAttr( 'target' );
							if( !data.success ) $errorMsg.text( data.error );
							$iframe.remove();
						});
					}
				});


				// restart the form if has a state of error/success

				$restart.on( 'click', function( e )
				{
					e.preventDefault();
					$input.trigger( 'click' );
				});

				// Firefox focus bug fix for file input
				$input
				.on( 'focus', function(){ $input.addClass( 'has-focus' ); })
				.on( 'blur', function(){ $input.removeClass( 'has-focus' ); });
			});

		})( jQuery, window, document );
