extends layout

block head
	<script src='/javascripts/spectrum.js'></script>
	<link rel='stylesheet' href='/stylesheets/spectrum.css' />


block content


	if !err

		h1 Project that was saved

		pre!= project

		h1 Document Groups that were saved
		p(style="color: #aaa; font-style: italic; margin-top: -15px; margin-bottom: 25px;") Note: #{n_document_groups} Document Groups in total (only one shown).
		pre!= document_groups

		h1 WIP_Project that was converted

		pre!= wip_project

		br


		h1 FrequentTokens that was created

		pre!= frequent_tokens

		br

	else
		h1 An error occurred while attempting to create the Project:

		p.error!= err