nav#navbar
	.navbar-left
		#logo

			a(href="" + base_url + "")
				span.inner
					span.img
						img(src="" + base_url + "images/favicon.png")
					span Redcoat
	.navbar-centre
		| <span id="navbar-page-title">#{title}</span>
	.navbar-right
		if (!user)
			div(class="dropdown-menu")
				button Not logged in
					span(class="caret") &#9660;	
				ul(class="dropdown-menu-items")
					li: a(href="" + base_url + "register") Register
					li: a(href="" + base_url + "login?previous=" + path) Login

		else

			if (project_invitations.length > 0)
				div#invitations-menu(class="dropdown-menu invitations")
					button#invitations-button <i class="fa fa-envelope"></i> <span class="invites-count" id="invites-count">#{project_invitations.length}</span>
					ul(class="dropdown-menu-items")
						each invite in project_invitations
							include project_invitation
							
						//li.separator Old invitations
						//li: a(href="#") Example 2
						//li: a(href="#") Example 3
			else
				div#invitations-menu(class="dropdown-menu inactive invitations")
					button#invitations-button <i class="fa fa-envelope"></i>
					ul(class="dropdown-menu-items")
						li
							span.invite
								| You have no active invitations.
			div(class="dropdown-menu")
				button Projects
					//span(class="caret") &#9660;	
				ul(class="dropdown-menu-items")
					li: a(href="" + base_url + "projects") Projects list
					li: a(href="" + base_url + "setup-project") Setup project
					if (recent_projects.length > 0)
						li.separator Recent projects
						each project in recent_projects
							li: a(href="" + base_url + "projects#" + project.project_id) #{project.project_name}

			div(class="dropdown-menu")
				button Logged in as #{user.username}
					//span(class="caret") &#9660;	
				ul(class="dropdown-menu-items")
					li: a(href="" + base_url + "profile") Profile
					li: a(href="" + base_url + "logout") Logout

		div(class="dropdown-menu short")
			a(href="" + base_url + "features") v0.1



			//if (tagging)
				//- div.profile-circle-container
				//- 	div#profile-circle(style="background-image: url('/images/rank_icons/chevron.png')")
				//- 	div#profile-banner
				//- 		| Officer Cadet&nbsp;&nbsp;(#{user_stars}&nbsp;<i class="fa fa-star award-stars"></i>)
				//- 		span.sneaky-border


	