extends layout

block sidenav

	section#setup-menu
		nav#sidenav.sidenav-setup

			ul.setup-stages#nav-setup-stages
				li#li-project-details 
					span 						
						| Project Details
						i.fa.fa-check
				li#li-upload-tokenized.not-yet-started
					span 
						i.fa.fa-check
						| Dataset
				li#li-entity-categories.not-yet-started
					span 
						i.fa.fa-check
						| Entity Categories
				li#li-upload-dictionary.not-yet-started
					span 
						i.fa.fa-check
						| Automatic Tagging						
				li#li-distribution.not-yet-started
					span 
						i.fa.fa-check
						| Distribution
				li#li-project-options.not-yet-started
					span 
						i.fa.fa-check
						| Project Options
				li#li-submission.not-yet-started
					span 
						i.fa.fa-check
						| Submission

block content



		div#error-banner
			<i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp; There was a problem communicating with the server. Data entered into the form may not be saved.<a href="#" id="close-error-banner"><i class="fa fa-close"></i></a>
		div#setup-questions


			article#project-details.article-heading
				h1 Project Details				
				div.form-section
					p Please enter the details of your project below.
					form#project-details-form
						div#project-name-form.form-group
							label(for="input-project-name") Project Name (required)
							input(id="input-project-name" maxlength="100" placeholder="Project Name" autofocus required pattern=".*[A-Za-z0-9]+.*")
							div.form-help The name of the project.
						div#project-description-form.form-group
							label(for="input-project-description") Project Description (optional)
							input(id="input-project-description" maxlength="500" tabindex="-1" placeholder="Project Description")
							div.form-help A short description of the project.
						//div.submit-row
						//	input(type="submit" value="Next: Upload Dataset")
				div#saved-notification-project-details.saved-notification
					p <i class="fa fa-check"></i> This section has been saved.
						
			article#upload-tokenized.article-heading.not-scrolled-to
				h1 Dataset				
				div.form-section
					p Please upload your  data using the form below.
					p The dataset must be saved as a <code>.txt</code> file. Each token within your data must be separated by a space, and each document must be on a new line. <a href="files/example_dataset.txt" download>Click here</a> to download a small example file.

					- var action = 'upload-tokenized';
					- var formFileType = 'text/plain';
					- var formFileTypeStr = 'plain text';
					- var formFileTypeExtension = '.txt';
					include partials/upload_widget

				div#saved-notification-upload-tokenized.saved-notification
					p <i class="fa fa-check"></i> This section has been saved.

			article#entity-categories.article-heading.not-scrolled-to
				h1 Entity Categories
				div.form-section
					p Please determine the entity categories in your data using the form below.
					p You may create new categories by entering them in the form below. To specify a parent category, place a space before the child category. The categories are visualised in the Category Hierarchy, which you may also use to create your hierarchy if you prefer. You may also select from a list of presets, such as the standard 4-class Named Entity Recognition model.
					div#entity-categories-summary
						p.ec-success Your entity categories have been successfully uploaded.
						p.ec-loading <i class="fa fa-cog fa-spin"></i>&nbsp;&nbsp;Uploading entity categories...
						p.ec-error Your category hierarchy contained an error and has not been saved.
						div.box__success_details#entity-categories-summary-box
					button.large-button#button-create-entity-categories Create entity categories&nbsp;<i class="fa fa-external-link"></i>
					div#saved-notification-entity-categories.saved-notification
						p <i class="fa fa-check"></i> This section has been saved.

			article#upload-dictionary.article-heading.not-scrolled-to
				h1 Automatic tagging	
				div.form-section
					p Redcoat can automatically annotate terms according to a dictionary, helping to save annotation time. These annotations can be adjusted by your annotators when necessary.

					blockquote
						a(id="use-dictionary-button" class="subsection-open-button") I have a dictionary of terms and want to use the automatic tagging feature.

					div#use-dictionary.subsection.subsection-hidden
						p Please upload your dictionary using the form below.
						p The dictionary must be saved as a <code>.csv</code> file. Each row in the CSV must contain a term in the first column, and a list of the entity categories of that term (separated by a space) in the second column. <a href="files/example_dictionary.csv" download>Click here</a> to download a small example file.

						- var action = 'upload-dictionary';
						- var formFileType = 'csv';
						- var formFileTypeStr = 'CSV';
						- var formFileTypeExtension = '.csv';
						include partials/upload_widget

					blockquote
						a(id="dont-use-dictionary-button" class="subsection-open-button") I do not want to use the automatic tagging feature.



				div#saved-notification-upload-dictionary.saved-notification
					p <i class="fa fa-check"></i> This section has been saved.

			article#distribution.article-heading.not-scrolled-to
				h1 Distribution
				div.form-section
					p Please determine how you would like to distribute the annotation task.
					blockquote
						a(id="distribute-self-button" class="subsection-open-button") I'll annotate the data myself. I may invite other users to help annotate later.
					blockquote
						a(id="distribute-to-emails-button" class="subsection-open-button") I have a list of the email addresses of people who will annotate my data.
			
					//- div#distribute-self.subsection.subsection-hidden
					//- 	h3 Self Annotation
					//- 	p OK then.
					div#distribute-to-emails.subsection.subsection-hidden
						//.subsection-hidden
						h3 Distribute via Email
						p Please enter a list of emails below, one per line. An invitation to annotate your dataset will be sent to every valid email address via Redcoat's mail server.
						form#distribute-emails-form.special-textarea-form
							div#distribute-emails-validation.special-textarea-validation
							div#distribute-emails-teextarea-container.special-textarea-container
								textarea.special-textarea#distribute-emails-textarea(rows="10", wrap="off"  cols="254" placeholder="example1@example.com\nexample2@example.com")
								div#distribute-emails-count-container
									<span id="distribute-emails-count">0</span>/#{max_emails} unique emails entered.<span id="distribute-emails-warning"> Only the first #{max_emails} email addresses entered will be sent invitations.</span>						
				div#saved-notification-distribution.saved-notification
					p <i class="fa fa-check"></i> This section has been saved.

			article#project-options.article-heading.not-scrolled-to
				h1 Project options
				div.form-section
					form#other-options-form
						
						div.form-group
							label(for="input-allow-new-categories") To what extent should annotators be able to modify the category hierarchy?
							select#input-hierarchy-permissions
								option(disabled selected value="not-selected") (click to select)
								option(value="no_modification") No modifications allowed.
								option(value="create_edit_only") Annotators can create new categories.
								option(value="full_permission") Annotators can create, delete, and rename categories.
							div.form-help If allowed, your annotators will be able to add categories as they appear, or delete ones that aren't relevant. This option is useful if you aren't sure whether your category hierarchy covers every possible category in your dataset. 
						div.form-group
							label(for="input-overlap") How many times should a document be annotated before annotation is considered complete?
							div.input-range-group.disabled#input-range-group
								div.disabled-message <span class="inapplicable">This option is inapplicable because you are the only annotator.</span><span class="havent-started">Please complete the Distribution section to enable this option.</span>
								div.inner
									div.input-range-summary#input-overlap-summary
										p <span class="num">1</span> annotation<span class="plural"></span>/document<br>
										p.small Each annotator labels approximately <span class="avg">100</span>% of the corpus 
										//&nbsp;&nbsp;<i class="fa fa-info-circle" title="This is assuming each annotator contributes equally. "></i>
									div.input-range-container
										div.left 1
										input(id="input-overlap" name="input-overlap" type="range" min="1" max="10" value="1")
										div.right 10
									div.form-help More overlap can result in a more robust set of results, but requires longer annotation time. You can mark your project as "complete" at any time.

						if false
							div.form-group
								label(for="input-automatically-tag") Should commonly-tagged words be automatically tagged?
								select#input-automatic-tagging
									option(disabled selected value="") (click to select)
									option(value="true") Yes.
									option(value="false") No.
								div.form-help Redcoat can automatically tag words that have been seen more than 20 times by the annotators of your project. Only words that have been labelled more than 90% of the time as a particular class will be automatically tagged. Annotators may modify or delete these automatic annotations before they are saved.

				div#saved-notification-project-options.saved-notification
					p <i class="fa fa-check"></i> This section has been saved.

			//- article#dataset.article-heading.not-scrolled-to
			//- 	h1 Administrator Account
			//- 	div.form-section
			//- 		p In order to keep track of the annotation and to easily download the data that has been annotated, please provide a username and password below. This will provide you with the ability to log in to the application through the homepage.
			//- 		form
			//- 			div.form-group
			//- 				label(for="input-project-name") Username*
			//- 				input(id="input-project-name" placeholder="Username" autofocus required)
			//- 			div.form-group(style="margin-top: -20px")
			//- 				label(for="input-project-name") Password*
			//- 				input(id="input-project-name" type="password" placeholder="")


			article#submission.article-heading.not-scrolled-to
				h1 Submission
				div.form-section
					//p Once you have completed the form, please click the submit button below to set up the project.
					div.input-range-group.disabled#final-submission-box
						div.disabled-message(style="margin-top: 10px;") Please complete every section of the form before submitting the project.
						div.inner
							form(action="setup-project/submission", method="post")
								div.submit-row
									input(type="hidden" name="_wippid" value="" + wip_project_id )
									input(type="hidden" name="_csrf" value="" + csrfToken )
									input(type="submit" value="Submit and create project")

			div(style="height: 600px")




block entity_categories_window
	div#entity-categories-window
		div.inner
			div.category-hierarchy
				h3 Category Hierarchy
				label Preset
				select#entity-categories-preset
					option(disabled selected value="no-preset") (no preset)
					option(value="NER") NER (4 classes)
					option(value="Maintenance") Maintenance (14 classes)
					option(value="FIGER") FIGER (113 classes)
					option(value="Mining") Mining accidents (177 classes)
					option(value="Ultra-fine") Ultra-Fine (10,331 classes)
				form#entity-categories-text-form.special-textarea-form
					//div#entity-categories-validation.special-textarea-validation
					//div.special-textarea-container
						
					textarea#entity-categories-textarea(rows="12", wrap="off"  cols="254" placeholder="example_class_1\nexample_class_2\n   example_child_1\n   example_child_2\nexample_class_3")
					div#entity-categories-count-container



			div.category-tree
				h3 Visualisation
				svg#svg-entity-categories
				div#category-hierarchy-error
					div.message Generate a category hierarchy using the menu on the left.
			a.close <span>Save and close</span>&nbsp;<i class="fa fa-close"></i>

block scripts
	script.
		var wippid = "#{wip_project_id}";
		var project_name = "#{project_name}";
		var project_desc = "#{project_desc}";
		var userEmail = "!{user_email}";
		var MAX_EMAILS = !{max_emails};
		var existingEmails   = !{user_emails};
		var distributeSelf   = "!{distribute_self}";
		var MAX_FILESIZE = !{max_filesize_mb} * 1024 * 1024;
		var file_metadata = !{file_metadata};
		var permissions = "!{category_hierarchy_permissions}";
		var overlap = "!{overlap}";
		var automaticTagging = "!{automatic_tagging}";
		var automaticTaggingDictionaryMetadata = !{automatic_tagging_dictionary_metadata};
		var category_hierarchy = !{category_hierarchy};
		var category_metadata = !{category_metadata};


	script(src="" + base_url + "javascripts/d3/d3.min.js")
	script(src="" + base_url + "javascripts/d3/d3-context-menu.js")
	script(src="" + base_url + "javascripts/shared/hierarchy_validator.js")
	script(src="" + base_url + "javascripts/category-tree-visualisation.js")
	script(src="" + base_url + "javascripts/setup_project/tools/jquery.autosize.js")
	script(src="" + base_url + "javascripts/setup_project/tools/jquery-linedtextarea.js")
	script(src="" + base_url + "javascripts/shared/hierarchy_presets.js")
	script(src="" + base_url + "javascripts/setup_project/tools/page_scrolling.js")

	script(src="" + base_url + "javascripts/setup_project/check_form_completion.js")
	script(src="" + base_url + "javascripts/setup_project/success_box.js")
	script(src="" + base_url + "javascripts/setup_project/error_banner.js")
	script(src="" + base_url + "javascripts/setup_project/category_hierarchy.js")
	script(src="" + base_url + "javascripts/setup_project/project_options.js")
	script(src="" + base_url + "javascripts/setup_project/project_details.js")
	script(src="" + base_url + "javascripts/setup_project/distribution.js")
	script(src="" + base_url + "javascripts/setup_project/dataset.js")
	script(src="" + base_url + "javascripts/setup_project/dictionary.js")
	script(src="" + base_url + "javascripts/setup_project/upload_forms.js")