extends layout

//- block sidenav
//- 	nav#sidenav.sidenav-project.hotkeys
//- 		h3 Hotkeys
//- 		ul
//- 			li <b>Q:</b> Tagging window
				


block header
	div#tagging-progress-bar-background
		span#tagging-project-title #{projectName}
		div#tagging-progress-bar
			span.progress-bar
				span.inner.no-animation(style="width: 0%")
				span.progress-text <span id="progress-text-num-annotated">-</span>&nbsp;/&nbsp;<span id="progress-text-num-total">#{numDocuments} complete</span>

block content
	#annotation-complete
		h2 Annotation complete!
		p Thanks for annotating this project. There are no more documents left for you to annotate.<br/> Please feel free to begin annotating another project, or <a href="#{base_url}setup_project">create your own</a>.
	div#tagging-container
		#sentence-tagging
	button#submit-annotations(style="margin-top:-300px; margin-bottom: 100px") Submit annotations

block entity_categories_window

	div#entity-categories-window.tagging
		div.inner
			div.category-tree.full-width
				h3.title-row Modify categories
				div#category-tree-explanation
					div.inner
						p <strong>Left-click</strong> on node to open/close category
						p#right-click-opens-menu <strong>Right-click</strong> on node to open menu
						p <strong>Click and drag</strong> to move around

				svg#svg-entity-categories.large-left-margin
				div#category-hierarchy-error
					div.message Generate a category hierarchy using the menu on the left.
			div.button-row
				button#category-tree-close.blue-button.grey-first <i class="fa fa-close"></i>&nbsp;&nbsp;<span>Close</span>
				button#category-tree-save.save.blue-button.disabled <i class="fa fa-save"></i> &nbsp;&nbsp;<span>Save changes</span>
			div#saved-notification-category-hierarchy.saved-notification
					p.unsaved <i class="fa fa-warning"></i> You have unsaved changes.
					p.saving <i class="fa fa-gear fa-spin"></i> Saving categories...
					p.saved <i class="fa fa-check"></i> Categories saved.
					p.error <i class="fa fa-warning"></i> Error saving hierarchy.

	div#tagging-menu
		div.category-hierarchy
			div.tokens-info
				div#wikipedia-summary-container
					p.tokens 
					p.summary 
					span.more 
						span.left Results from Wikipedia
						span.right <a href="#" id="ec-read-more" target="_blank">Read more <i class="fa fa-sm fa-external-link"></i></a>
				button#wikipedia-hide-show.up Show
			div#modify-hierarchy-container
				button#open-category-tree.blue-button.grey-first Modify categories
			form.label-search(data-content = "Q")#ec-search-form
				div.search-container
					input(placeholder="Search categories..." id="ec-search")
					button.go(type="submit") ↵
				p.initial Showing all <b id="total-categories">-</b> categories.
				p.filtered <span id="search-results-none">No results found.</span><span id='search-results-info'>Showing <b id="search-results-count">0</b> results.</span><a role="button" id="clear-search">Clear <span class="esc">(ESC)</span></a>

				//- .button-container
				//- 	button(type="submit") Cancel
					
			div#category-hierarchy-tree
			div#category-hierarchy-tree-no-results
				| No results found.


	div#window-mask

block scripts
	script(src="" + base_url + "javascripts/jstree/dist/jstree.js")
	script(src="" + base_url + "javascripts/d3/d3.min.js")
	script(src="" + base_url + "javascripts/d3/d3-context-menu.js")
	script(src="" + base_url + "javascripts/shared/hierarchy_validator.js")
	script(src="" + base_url + "javascripts/category-tree-visualisation.js")
	script(src="" + base_url + "javascripts/tagging-interface.js")

	script.
		$(document).ready(initTaggingInterface(#{canCreateNewCategories}, #{canDeleteCategories}, #{numDocuments}, #{projectOwnerIsMichael}));
